{% extends 'base.html' %}

{% block content %}
    

    <div class="header">
    <div class="container">
        {% include 'include/navbar.html' %}
    
        <div class="row">
            <div class="col-2">
                <h1>A true style destination</h1>
                <p>Easy online shopping with the hottest fashion trends, brands, BEST prices online, multiple & secure payment options and fast delivery.
                </p>
                <a href="" class="btn">Shop now &#10140</a>
            </div>
            <div class="col-2">
                <img src="..\static\images\image1.png">

            </div>
        </div>
    </div>
</div>

<!----------------------CATEGORIES------------------------------>
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="../static/images/category-1.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="../static/images/category-2.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="../static/images/category-3.jpg" alt="">
            </div>
        </div>
    </div>
    
</div>

<!----------------------FEATURED PRODUCTS------------------------>
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="{{ url_for('product_details') }}">
                <img src="../static/images/product-1.jpg">
            </a>
            <a href="{{ url_for('product_details') }}"><h4>Stylish Red T-Shirt</h4></a>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-2.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-3.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-4.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <p>$30.00</p>
        </div>
    </div>
    <h2 class="title">New Arrivals</h2>
    <div class="row">
        <div class="col-4">
            <img src="../static/images/product-5.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-6.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-7.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-8.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <p>$30.00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="../static/images/product-9.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-10.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-11.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-12.jpg">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <p>$30.00</p>
        </div>
    </div>
</div>

<!-------------------------SPECIAL OFFERS----------------------------->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="../static/images/exclusive.png" class="img-offer" alt="">
                </div>
                <div class="col-2">
                    <p>Now available on Myshop</p>
                    <h1>Smart Band 4 PRO</h1>
                    <small>Featuring a stunning 0.95 inch AMOLED touchscreen of great colour and contrast, HUAWEI Band 4 Pro provides you an ultimate visual experience.</small>
                    <a href="" class="btn">Buy Now &#10140</a>
                </div>
            </div>
        </div>
    </div>

<!-------------------------FEEDBACKS--------------------------------->

    <div class="feedbacks">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="bi bi-chat-square-quote"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laudantium, ipsa voluptates quo doloremque incidunt fuga officiis cumque tempore deserunt dolorum dolor cupiditate dolores enim est alias possimus beatae fugiat?</p>
                    <div class="rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <img src="../static/images/user-1.png" alt="">
                    <h3>Julia Brandon</h3>
                </div>
                <div class="col-3">
                    <i class="bi bi-chat-square-quote"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laudantium, ipsa voluptates quo doloremque incidunt fuga officiis cumque tempore deserunt dolorum dolor cupiditate dolores enim est alias possimus beatae fugiat?</p>
                    <div class="rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <img src="images/user-2.png" alt="">
                    <h3>Nicolas Andreas</h3>
                </div>
                <div class="col-3">
                    <i class="bi bi-chat-square-quote"></i>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laudantium, ipsa voluptates quo doloremque incidunt fuga officiis cumque tempore deserunt dolorum dolor cupiditate dolores enim est alias possimus beatae fugiat?</p>
                    <div class="rating">
                        <i class="bi bi-star-fill "></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <img src="../static/images/user-3.png" alt="">
                    <h3>Britney Hopkins</h3>
                </div>
            </div>
        </div>
    </div>

<!-------------------------BRANDS--------------------------------->

<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="../static/images/logo-godrej.png" alt="">
            </div>
            <div class="col-5">
                <img src="../static/images/logo-oppo.png" alt="">
            </div>
            <div class="col-5">
                <img src="../static/images/logo-coca-cola.png" alt="">
            </div>
            <div class="col-5">
                <img src="../static/images/logo-paypal.png" alt="">
            </div>
            <div class="col-5">
                <img src="../static/images/logo-philips.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-------------------------FOOTER--------------------------------->



{% endblock  %}
