{% extends 'base.html' %}

{% block content %}

    <div class="container">
        {% include 'include/navbar.html' %}
      
        </div>
    

<div class="small-container">

    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
            <option>Sort by rating</option>
            <option>Sort by sale </option>
        </select>
    </div>

    <div class="row">
        <div class="col-4">
            <img src="../static/images/product-1.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-2.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-3.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-4.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <p>$30.00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="../static/images/product-5.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-6.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-7.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-8.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <p>$30.00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="../static/images/product-9.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-10.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-11.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-12.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <p>$30.00</p>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#10140;</span>
    </div>
    
</div>



<!-------------------------FOOTER--------------------------------->



<!-------------------------JS TOGGLE MENU--------------------------------->
<script>
    let MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }

        else
            {
                MenuItems.style.maxHeight = "0px";
            }

    }
</script>

{% endblock  %}