{% extends 'base.html' %}

{% block content %}


    <div class="container">
        {% include 'include/navbar.html' %}
      
        </div>
    

<!-------------------------PRODUCT DETAIL--------------------------------->

<div class="small-container product-detail">
    <div class="row">
        <div class="col-2">
            <img src="../static/images/gallery-1.jpg" width="100%" id="productImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="../static/images/gallery-1.jpg" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="../static/images/gallery-2.jpg" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="../static/images/gallery-3.jpg" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="../static/images/gallery-4.jpg" class="small-img">
                </div>
            </div>



        </div>
        <div class="col-2">
            <p>Home / T-Shirt</p>
            <h1>Red Stylish T-Shirt by NB</h1>
            <h4>$30.00</h4>
            <select >
                <option>Select size</option>
                <option>Extra Small</option>
                <option>Small</option>
                <option>Medium</option>
                <option>Large</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">Add to Cart</a>
            <h3>Product details<i class="bi bi-text-indent-left"></i></h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi odit totam impedit dolore officia inventore voluptatum consequuntur porro cupiditate error quam blanditiis quaerat harum nulla obcaecati, fugiat eum veniam repudiandae sed nemo! </p>
        </div>
    </div>
</div>

<!-------------------------TITLE--------------------------------->
<div class="small-container">
    <div class="row row-2">
        <h2>Similar Products</h2>
        <p>View More</p>
    </div>
</div>


<!-------------------------PRODUCTS--------------------------------->

<div class="small-container">
  
    <div class="row">
        <div class="col-4">
            <img src="../static/images/product-1.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-2.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-3.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </div>
            <p>$30.00</p>
        </div>
        <div class="col-4">
            <img src="../static/images/product-4.jpg" alt="">
            <h4>Stylish Red T-Shirt</h4>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
            </div>
            <p>$30.00</p>
        </div>
    </div>
    
    
    
    
</div>





<!-------------------------JS GALLERY--------------------------------->

<script>
    var ProductImg = document.getElementById("productImg");
    var SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function()
        {
            ProductImg.src = SmallImg[0].src;
        }
        SmallImg[1].onclick = function()
        {
            ProductImg.src = SmallImg[1].src;
        }
        SmallImg[2].onclick = function()
        {
            ProductImg.src = SmallImg[2].src;
        }
        SmallImg[3].onclick = function()
        {
            ProductImg.src = SmallImg[3].src;
        }


</script>



    
{% endblock  %}