<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-1-col">
                <h3>Download MYSHOP App</h3>
                <p>iOS and Android app versions available</p>
                <div class="logo-app">
                    <img src="../static/images/play-store.png" alt="">
                    <img src="../static/images/app-store.png" alt="">
                </div>
            </div>
            <div class="footer-2-col">
                <img src="../static/images/logo2.png" alt="">
                <p>Our aim to offer high quality products, fast delivery and best customer service. </p>
            </div>
            <div class="footer-3-col">
                <h3>Useful Links</h3>
                <ul>
                    <li>Discounts</li>
                    <li>Blog</li>
                    <li>Policy</li>
                    <li>Affliate</li>
                </ul>
            </div>
            <div class="footer-4-col">
                <h3>Social Media</h3>
                <ul>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">© Copyright 2021. MYSHOP - online store.</p>
    </div>
</div>