.leftside {
    background-color: red;
    width: 50%;
    height: 150px;
    border: 1px
}

.rightside {
    background-color: green;
    width: 50%;
    height: 150px;
    border: 1px

}

.newdiv {
    background-color: orange;
    width: 200px;
    height: 150px;

}

.space-between-div{

    margin-left: 10px;

}